# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terrform
go*
test_installation.go

# Ignore Node.js dependencies
node_modules/
azure_env/
target/
.terraform/
